main .dangnhap{
    display: flex;
    justify-content: center;
}
main .form_dangnhap{
    width: 50%;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 2px 2px 10px 2px grey;
}
main .form_dangnhap .title{
    text-align: center;
    font-weight: 700;
    font-size: 30pt;
    opacity: 80%;
    margin-bottom: 20px;
}
main .form_dangnhap .form-control{
    background-color: #64BABE;
    opacity: 63%;
    border: none;
    height: 50px;
    border-radius: 15px;
}
main .form_dangnhap ::placeholder{
    color:#3B2B1D;
}
main .form_dangnhap .btn{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background-color: #085979;
    border: none;
}