:root {
    --main: #085979;
    --yellow:#ffcc00;
    --blue:#2091bc;
    --white:#ECEBEA;
    --red:#D4343F;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-weight: 400;
    color: var(--body);
}
header{
    margin-bottom: 10px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
}
.side-bar ul li:not(:last-of-type) {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #000;
}
header .navbar {
    background-color:var(--main) !important;
}
header .navbar .navbar-brand img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
header .navbar .user_name{
    color: aliceblue;
    font-style: italic;
    font-size: 18px;
}
header .navbar .user_name img{
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-bottom: 5px;
}
header .btn{
    border-color: white;
    color:white;
    width: 150px;
}
main{
    margin-top: 100px;
}
main .tags{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
main .tags button{
    
}
main .card{
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 8px 1px rgba(128, 128, 128, 0.627);
}
main .img_monan{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
main a.title_post{
    font-weight: 700;
    color:var(--main);
    text-decoration: none;
    display: -webkit-box; /* Sử dụng Flexbox 2D */
    -webkit-line-clamp: 2; /* Số dòng giới hạn */
    -webkit-box-orient: vertical; /* Xếp theo chiều dọc */
    overflow: hidden; /* Ẩn nội dung thừa */
}
main .user_post{
    font-style: italic;
    /* text-decoration: underline; */
    font-weight: 300;
    color:rgba(96, 92, 92, 0.939);
    margin-bottom: 0px;
}
main .side-bar{
    background-color: var(--blue);
    border-radius: 10px;
    box-shadow: 5px 5px 7px 2px rgba(128, 128, 128, 0.69);
    position: fixed;

}
main .nav-pills .nav-link.active{
    background: white;
    color: black;
}
main .button-interact button{
    border: none;
    background: none;
    margin-right: 10px;
}
main .button-interact button img{
    width: 25px;
    height: 25px;
}
main .button-interact .like img{
    width: 27px;
    height: 27px;
}

main #comment .modal-dialog .modal-body .dis_comment{
    max-height: 300px;
}
main #comment .modal-dialog .modal-footer{
    width: 100%;
    justify-content: center;

}
.modal-footer>* {
    width: 100%;
}
